.float_h {
    display: flex;
    float: left;
}

.h1 {
    font-size: 28px;
    padding: 1em;
}

.topLeft {
    background-color: black;
    height: 280px;
    color: white;
    text-align: center;
    justify-content: center;

    padding: 2em;
}

.bottomLeft p{
    width: 120px;
    height: 73px;
    background-color: white;
    display: flex;
    float: left;
    padding: 1.5em;
}

.topLeft p{
    padding: 1em;
}

.topRight{
    height: 280px;
}

.bottomRight{
    width: 1000px;
    height: 73px;
    background-color: yellow;
}

.bottomRight p{
    padding: .8em;
    font-size: 24px;
    text-align: center;
    justify-content: center;
}


.logos p{
    display: flex;
    float: left;
    padding: 1em;
}